<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Sarthak Pawar</title>
</head>
<header>
    <div class="navbar">
        <ul class="nav-item-list">
            <li class="nav-button"><a   href="/">Home</a> </li>
            <li class="nav-button"><a  href="/projects" >Projects</a> </li>
            <li class="nav-button" ><a href="/about" >About</a> </li>
            <li class="nav-button" ><a  href="/contact">Contact Me</a> </li>
        </ul>

    </div>
</header>