<%- include("partials/header.ejs") %>
<div class="top-banner">
  <h1>
      Contact Me 
  </h1>
  <h2> get in touch with me.</h2>
</div>
<div class="contents">
<form action="/send" method="POST">
  <div class="field">  
    <label>name :</label>
    <input name="name" type="text" class="feedback-input" placeholder="   Name" />
    
  </div>
  <div class="field">
    <label>email :</label>
    <input name="email" type="text" class="feedback-input" placeholder="   Email" />
    
  </div>
  <div class="field">
    <label>comments :</label>
    <textarea name="text" class="feedback-input" placeholder="  Comment"></textarea>
  </div>
  <div class="field">
    <input type="submit" value="SUBMIT"  class="submit"/>
  </div>




</form>
</div>